html {
    min-height: auto;
    
}
body{
    height: calc(100vh-8em);
    padding:4em;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

/*
.typing {
    position: relative;
    
    
}

.typing::after {
    content: "gf";
    position: absolute;
    right: -2px;
    width: 1px;
    height: 5%;
    border-right: 2x solid white;
    animation: blink .5s infinite ease;
}


*/


h1{
    animation: type 2s steps(21);
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid white;
    width:21ch;

}

@keyframes type{
    0%{
        width: 0ch;  
    }
    100%{
        width: 21ch;
    }
} 


/*
p {
    position: relative;
    left:100px;
    top:100px;
}

*/
