html {
    min-height: auto;
    overflow: hidden;
}
body{
    height: calc(100vh-8em);
    padding:4em;
    font-family: 'Courier New', Courier, monospace;
}


p {
    position: relative;
    left:100px;
    top:100px;
}

.line{
    position: relative;
    top:50%;
    width:10em;
    margin: 0 auto;
    border-right: 2px solid rgb(105, 192, 88);
    font-size: 180;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;transform: translateY(-50%);

}

.anim-typewriter{
    animation: typewriter 4s steps(40) 1s normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
    from{
        width:0;
    }
    to{
        width:16em;
    }
}

@keyframes blinkTextCursor {
    from{
        border-right-color: rgb(59, 76, 128);
    }
    to {
        border-right-color: transparent;
    }
}